# fail if no .ruby-version file exists
if ! test -f ".ruby-version"; then echo "ERROR: Must define a .ruby-version file in this directory" 1>&2 && exit 1; fi

# initialize rbenv shims, e.g., eval "$(rbenv init - zsh)" 
use rbenv

# setup all bundle/gem environment variables
layout ruby
