# fail if no .ruby-version file exists
if ! test -f ".ruby-version"; then echo "ERROR: Must define a .ruby-version file in this directory" 1>&2 && exit 1; fi

# load environment variables from the parent directory .envrc
source_up

# initialize rbenv shims
# eval "$(rbenv init - zsh)" 
use rbenv

# layout ruby

# ensure BUNDLE_BIN (e.g., .direnv/bin) is on PATH to access bundle binstubs
# PATH_add .direnv/bin
layout ruby
